<a href="#" class="logo__header"><img src="../../assets/images/header/logo.png" alt="logo" class="logo"></a>
<nav class="navigation left">
    <ul class="menu left">
        <li><a href="#">начало</a></li>
        <li><a href="#">тренировки</a></li>
        <li><a href="#">кои сме ние</a></li>
    </ul>
</nav>
<nav class="navigation right">
    <ul class="menu right">
        <li><a href="#">контакт</a></li>
        <li><a href="#">магази</a></li>
        <li><a href="#">профил</a></li>
    </ul>
</nav>
