<a routerLink="/main-page" class="logo__header"><img src="../../assets/images/header/logo.png" alt="logo" class="logo"></a>
<nav class="navigation left">
    <ul class="menu left">
        <li><a routerLinkActive="active-link " [routerLinkActiveOptions]="{exact: true}" routerLink="/main-page">начало</a></li>
        <li><a routerLinkActive="active-link " routerLink="/training-page">тренировки</a></li>
        <li><a>кои сме ние</a></li>
    </ul>
</nav>
<nav class="navigation right">
    <ul class="menu right">
        <li><a routerLinkActive="active-link " routerLink="/contact-page">контакт</a></li>
        <li><a>магази</a></li>
        <li><a routerLinkActive="active-link " routerLink="/profile-page">профил</a></li>
    </ul>
</nav>