<a routerLink="/" class="logo__header">
    <img src="../../assets/imagaes/main/logo.svg" alt="logo" class="logo"></a>
<nav class="navigation left">
    <ul class="menu left">
        <li *ngIf="isAuthenticated"><a routerLinkActive="active" routerLink="/recipes">Рецепти</a></li>
        <li *ngIf="!isAuthenticated"><a routerLinkActive="active" routerLink="/auth">Вход</a></li>
        <li><a routerLinkActive="active" routerLink="/shopping-list">Списък с продукти</a></li>
    </ul>
</nav>
<nav class="navigation right">
    <ul class="menu right">
        <li *ngIf="isAuthenticated">
            <a style="cursor: pointer;" (click)="onLogout()">Изход</a>
        </li>
        <li *ngIf="isAuthenticated"><a style="cursor: pointer;" (click)="onSaveData()">Запази рецепта</a></li>
        <li *ngIf="isAuthenticated"><a style="cursor: pointer;" (click)="onFetchData()">Покажи всички рецепти</a></li>
    </ul>
</nav>