ul {
    list-style-type: none;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo__header {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    order: 1;
}

.left {
    order: 0;
}

.right {
    order: 2;
}

.logo {
    height: 100%;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu a:hover {
    color: #FF0000;
}