<section id="section__category">
    <a href="#" class="category personal__trening">
        <img src="../../../assets/images/main-page/section_1/personal_trening.jpg" alt="">
        <div class="personal__trening__info__holder">
            <h4>Персонални<br>тренировки</h4>
        </div>
    </a>
    <a href="#" class="category group__trening">
        <img src="../../../assets/images/main-page/section_1/group_trening.jpg" alt="">
        <div class="group__trening__info__holder">
            <h4>Персонални тренировки</h4>
        </div>
    </a>
    <a href="#" class="category kids__trening">
        <img src="../../../assets/images/main-page/section_1/kids_trening.jpg" alt="">
        <div class="group__trening__info__holder">
            <h4>Тренировки за деца</h4>
        </div>
    </a>
    <a href="#" class="category sport__trening">
        <img src="../../../assets/images/main-page/section_1/sport_trening.jpg" alt="">
        <div class="personal__trening__info__holder">
            <h4>Тренировки за<br>спортисти</h4>
        </div>
    </a>
</section>