<section id="section__category">
    <a href="#" class="category trening_1">
        <img src="../../../assets/images/main-page/section_1/personal_trening.jpg" alt="">
        <div class="trening_1_info_holder">
            <h4>Персонални<br>тренировки</h4>
        </div>
    </a>
    <a href="#" class="category trening_2">
        <img src="../../../assets/images/main-page/section_1/group_trening.jpg" alt="">
    </a>
    <a href="#" class="category trening_4">
        <img src="../../../assets/images/main-page/section_1/kids_trening.jpg" alt="">
    </a>
    <a href="#" class="category trening_3">
        <img src="../../../assets/images/main-page/section_1/sport_trening.jpg" alt="">
    </a>
</section>
