::ng-deep :root {
    --white: #fefefe;
    --black: #000000;
    --red: #FF0000;
    --wellow: #fbe23c;
    --gray-dark: #191919;
    --gray-light-card: #33393e;
    --gray-light-social: #51575b;
}

app-header {
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    gap: 3rem;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #000;
    z-index: 2;
}

app-main-page-content {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 0rem;
    width: 100%;
}
