<section id="coaches">
    <article class="coach__card stoyan">
        <div class="coach__image stoyan">
            <img src="../../../assets/images/main-page/section_2/stoian_dimitrov.jpg" alt="">
        </div>
        <div class="coach__info">
            <div class="headline">
                <h2>Стоян<br>Димитров</h2>
                <h3>собсвеник/главен треньор</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque exercitationem nobis id ab accusamus ut culpa laudantium possimus maxime consequatur nesciunt unde quibusdam, hic quisquam itaque consequuntur omnis eveniet.</p>
            <ul class="coach__social__icons">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </article>
    <article class="coach__card steli">
        <div class="coach__image steli">
            <img src="../../../assets/images/main-page/section_2/stiliana_galabova.jpg" alt="">
        </div>
        <div class="coach__info">
            <div class="headline">
                <h2>Стиляна<br>Гълабова</h2>
                <h3>треньор</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque exercitationem nobis id ab accusamus ut culpa laudantium possimus maxime consequatur nesciunt unde quibusdam, hic quisquam itaque consequuntur omnis eveniet.</p>
            <ul class="coach__social__icons">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </article>
    <article class="coach__card vili">
        <div class="coach__image vili">
            <img src="../../../assets/images/main-page/section_2/velina_nencheva.jpg" alt="">
        </div>
        <div class="coach__info">
            <div class="headline">
                <h2>Велина<br>Ненчева</h2>
                <h3>треньор</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque exercitationem nobis id ab accusamus ut culpa laudantium possimus maxime consequatur nesciunt unde quibusdam, hic quisquam itaque consequuntur omnis eveniet.</p>
            <ul class="coach__social__icons">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </article>
    <article class="coach__card niki">
        <div class="coach__image niki">
            <img src="../../../assets/images/main-page/section_2/nikolai.jpg" alt="">
        </div>
        <div class="coach__info">
            <div class="headline">
                <h2>Николай<br>Димитров</h2>
                <h3>треньор</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque exercitationem nobis id ab accusamus ut culpa laudantium possimus maxime consequatur nesciunt unde quibusdam, hic quisquam itaque consequuntur omnis eveniet.</p>
            <ul class="coach__social__icons">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </article>
</section>
