#hero__main__page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../../../assets/images/main-page/hero/hero_cover_2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

.hero__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 45%;
    color: var(--white);
    margin-top: auto;
    margin-bottom: 2%;
    padding: 2rem;
    gap: 1rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 89px;
    line-height: 100px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

p {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.hero__button {
    width: 224px;
    height: 67px;
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid var(--white);
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.hero__button__text {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.hero__button:hover {
    background: var(--red);
    border: 1px solid var(--red);
}


/* @media screen and (min-width: 660px) {

} */

@media screen and (max-width: 1000px) {
    .hero__text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 90%;
        color: var(--white);
        margin-top: auto;
        margin-bottom: 2%;
        padding: 2rem;
        gap: 1rem;
    }
}
