<section id="hero__main__page">
    <div class="hero__text">
        <h4>добре дошли в</h4>
        <h1>alfa sport<br>studio</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
            here, content here.</p>
        <a href="#" class="hero__button">
            <p class="hero__button__text">научи повече</p>
        </a>
    </div>
</section>
